.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 1.2em 3em;
    background-color: #004872;
    max-width: 100%;
    .brand {
      font-size: 1.2em;
      color: #053750;
      text-decoration: none;
      font: 800 22px 'Montserrat';
      color: #fc6824;
    }
    .pages_list {
      display: flex;
      list-style: none;
      gap: 40px;
      li a {
          text-decoration: none;
          color: #ffffff;
          transition: .4s ease-in-out;
          font: 600 16px 'Montserrat';
          &:hover{
            color: #cdebfa;
          }
      }
      .active {
        border-bottom: 2px solid #fc6824;
      }
    }
}

@media (max-width: '500px'){
  .navbar{
      flex-direction: column;
  }
}
